<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online Shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Online Shop</h1>      
    <p>Be Stylish and Fashionable</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="layout.html">Home</a></li>
		<li class="active" class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Products
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="menswear.html">menswear</a></li>
				<li><a href="womenswear.html">womenswear</a></li>
				<li><a href="dress.html">dress</a></li>
				<li><a href="shoesformen.html">shoes for men</a></li>
				<li><a href="shoesforwomen.html">shoes for women</a></li>
				<li><a href="accessories.html">accessories</a></li>
			</ul></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h2><center>Menswear</h2></center>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="executive.jpg" style="width:100%">
          <div class="caption">
            <p>The Executive</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="leather.jpg" style="width:100%">
          <div class="caption">
            <p>H&R PU Leather Sintetik</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="kaos.jpg" style="width:100%">
          <div class="caption">
            <p>Rip Curl Single Fin Tee CTEYG1 8264 Kaos Pria - Washed Black</p>
          </div>
        </a>
      </div>
	  <div class="col-md-4">
      <div class="thumbnail">
          <img src=".jpg" style="width:100%">
          <div class="caption">
            <p>Rip Curl Single Fin Tee CTEYG1 8264 Kaos Pria - Washed Black</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

</body>
</html>