html, body {
  height: 100%;
}

.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.jumbotron {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
  width: 100%;
}

.center_div {
  margin: 0 auto;
  width: 25%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
  height: 500px;
  max-height: 500px;
}

.panel-body {
  margin: 0 25px 0 25px;
}

#user_panel {
  float: left;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 999 !important;
}

.affix + .container-fluid {
  /*padding-top: 70px;*/
  top: 50px;
  position: relative;
}

.navbar-right {
  padding-right: 20px;
}

#suggest {
  margin-top: 200px;
  margin-bottom: 50px;
}

.tab-content {
  margin-bottom: 150px;
}
